# Virtual env
.venv/
__pycache__/
*.pyc

# VS Code settings
.vscode/
.settings/

# Jupyter notebooks (optional)
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Audio/Video/Cache
data/
*.wav
*.mp3
*.mp4
*.mkv
*.webm
cache/
.venv

# Auth tokens
pipeline/hf_authtoken.txt
